{% extends "base.html" %}
{% load static %}

{% block content %}

<div class = "title">

    <font color="#F9A005">History of the comany</font>

</div>

<div class = "main">

    
You may know me from back in the last of year whgen i made some badass page that was dedicated to consoles <br>
with my main man josh and my other side ting ali. josh was the bread and butter pudding of the team. Man stayed up till<br>
8am working only to go and fuck it up and put alis playstation pictures instead of his nintendo pictures becasue even tho he wastold man<br>
many times that he would have toi change the names of the pictures he failed to do so. His nav bar was also compretery different to<br>
ours and that is beacuse he dfailed to copy the propper css over like a dickhead. Now ali on the other hand was much better at hisa worka<br>
youa seea ari isa chirese meanring rat he spreaker rike ris. Now onto me im a hoe i fuck hoes (not as much as josh doe ;)<br>
</div>



<style>

    .title{
        font-size: 40;
        font-weight: bold;
        text-align: center;
    }
    
    .main{
        font-size: 20;
        text-align: center;
    }
    
    </style>
{% endblock %}