{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="title">

Privacy Policy for <font color="#F9A005">Vault </font>E

</div>

<div class="main">

<font color="#F9A005">Effective Date: [25/04/2024]</font>
<br>
<br>
Welcome to Vault E! We are committed to protecting the privacy and security of our users. This Privacy Policy outlines our practices regarding the collection, use, and disclosure of your information through the use of our website. Please read it carefully to understand our practices regarding your information and how we will treat it.
<br>
<br>
<font color="#F9A005">1. Information We Collect</font>
<br>
<br>
We collect several types of information from and about users of our website, including:
<br>
Personal Information: Your name, email address, and contact details when you create an account or book equipment.
Booking Information: Details of the electronic equipment you reserve through our website.
Usage Details: Information about your interactions with our website, including traffic data, location data, logs, and other communication data and the resources that you access and use on the website.
Device Information: Information about your computer, mobile device, and internet connection, including your IP address, operating system, and browser type.
<br>
<br>
<font color="#F9A005">2. How We Use Your Information</font>
<br>
<br>
We use the information that we collect about you or that you provide to us, including any personal information:
<br>
To present our website and its contents to you.
To provide you with information, products, or services that you request from us.
To fulfill any other purpose for which you provide it.
To provide you with notices about your account, including booking confirmations and updates.
To carry out our obligations and enforce our rights arising from any contracts entered into between you and us.
To notify you about changes to our website or any products or services we offer or provide through it.
To enhance the functionality and user experience of our website.
To perform analytics and conduct customer research.
<br>
<br>
<font color="#F9A005">3. Disclosure of Your Information</font>
<br>
<br>
We may disclose aggregated information about our users, and information that does not identify any individual, without restriction. We may disclose personal information that we collect or you provide:
<br>
To our subsidiaries and affiliates.
To contractors, service providers, and other third parties we use to support our business and who are bound by contractual obligations to keep personal information confidential and use it only for the purposes for which we disclose it to them.
To fulfill the purpose for which you provide it. For instance, if you book equipment, we might transmit your booking information to the equipment providers.
For any other purpose disclosed by us when you provide the information.
With your consent.
<br>
<br>
<font color="#F9A005">4. Data Security</font>
<br>
<br>
We have implemented measures designed to secure your personal information from accidental loss and from unauthorized access, use, alteration, and disclosure. The safety and security of your information also depend on you. Where we have given you (or where you have chosen) a password for access to certain parts of our website, you are responsible for keeping this password confidential. We ask you not to share your password with anyone.
<br>
<br>
<font color="#F9A005">5. Changes to Our Privacy Policy</font>
<br>
<br>
We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page. We will let you know via email and/or a prominent notice on our website, and update the "effective date" at the top of this Privacy Policy.
<br>
<br>
<font color="#F9A005">6. Contact Information</font>
<br>
<br>
To ask questions or comment about this Privacy Policy and our privacy practices, contact us at: [Your Contact Information].


</div>

<style>

.main{

text-align: center;
font-size:13px;
border: 10px solid #58a294;
background-color: #e4e4e4;
border-radius: 4px;
width: 97.3%;
text-align: center;
padding: 5px;
padding-bottom: 20px;
box-shadow: 0 4px 8px 0 #00000033;
}

.title{
    text-align: center; 
    color: white;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 5px;
}

</style>


{% endblock %}