{% extends 'base.html' %}
{% load static %}

{% block title %} Inventory {% endblock title %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/inventorystyle.css' %}">

<div class="inventory-container"></div>
    
    <h2>Inventory</h2>
    <br />

    <ul class="responsive-table">

        <div class="search-and-sort">

        <form class="search-field" role="search" method="POST">
            {% csrf_token %}
            <input
               class="search-input"
               type="search"
               placeholder="Search"
               name="search_query"
               required aria-label="Search"
            >
            <button class="search-button" type="submit">Search</button>
        </form>

        <form class="sort-field" method="get">
            <label for="locationsort">Location: </label>
            <select class="sort-select" name="locationsort">
                <option value = "">Location</option>
                <option value = "XRLab">XRLab</option>
                <option value = "XRLab Blue Cabinet">XRLab Blue Cabinet</option>
                <option value = "XRLab Blue Cabinet Large">XRLab Blue Cabinet Large</option>
                <option value = "XRLab Medium Wooden Cabinet">XRLab Medium Wooden Cabinet</option>
                <option value = "Other">Other</option>
             </select>
             <input class="search-button" type="submit" value="Filter" />
        </form>
        </div>

        <li class="table-header">
            <div class="col col-1">Display name</div>
            <div class="col col-2">Asset Type</div>
            <div class="col col-3">Location</div>
            <div class="col col-4">Qty</div>
            <div class="col col-5">Book</div>

        </li>

        {% for equipment in equipments %}
        <li class="table-row">
            <div class="col col-1" data-label="Display name">
                <a href="{% url 'detail' equipment.id %}">{{ equipment.display_name }}
                </a>
                </div>
            <div class="col col-2" data-label="Asset Type">{{ equipment.asset_type }}</div>
            <div class="col col-3" data-label="Location"> {{ equipment.location  }}</div>
            <div class="col col-4" data-label="Qty">{{ equipment.quantity }}</div>
            <div class="col col-5" data-label="Book">
                <form  method="post">
                    {% csrf_token %}
                    <input type="hidden" name="equipment_name" value="{{ equipment.display_name }}">
                    <input type="hidden" name="quantity" value="{{ equipment.quantity }}">
                    <input type="hidden" name="type" value="{{ equipment.asset_type }}">
                    <input type="hidden" name="location" value="{{ equipment.location }}">
                    <button type="submit" class="book-button">Book</button>
                </form>
            </div>

        </li>
        {% endfor %}

    </ul>


    {% if equipments.has_other_pages %}
    <div class="inventory-pagination">  
        
        {% if equipments.has_previous %}
            
        <a class="page-action" href="?page={{ equipments.previous_page_number }}">&laquo;</a>

        {% endif %}
        <!---

        <a class="page-numbers" href="#"> Page {{ equipments.number }} of {{ equipments.paginator.num_pages }} </a>
        -->

        {% for i in equipments.paginator.page_range %}
            {% if equipments.number == i %}
                <span class="page-number page-current">{{ i }}</span>
            {% else %}
                <a class="page-number" href="?page={{ i }}">{{ i }}</a>
            {% endif %}
        
        {% endfor %}
        

        {% if equipments.has_next %}

        <a class="page-action" href="?page={{ equipments.next_page_number }}">&raquo</a>

        {% endif %}
        
    </div>
    
    {% endif %}
    

</div>


{% endblock content %}

