/* styles for reservations.html template */
.content-container-bookings {
    position: relative;
    margin:0 auto;
    border-radius: 5px;
    display: flex; /* Use flexbox */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
}

.content-box {
    /* Add styles for the content boxes */
    width: 350px;
    height: 400px; /* Example height */
    text-align: center;
    border: 5px solid #6BBAA7;
    padding: 20px;
    margin: 30px;
    background-color: #d9d9d9;
    border-radius: 5px;
    display: flex; /* Use flexbox */
    flex-direction: column; /* Arrange content vertically */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
}

.content-box img {
    /* Add styles for the images */
    width: 250px; /* Set the desired width */
    height: auto; /* Maintain aspect ratio */
    margin: 10px;
}

.content-box p {
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}

.orange-text {
    color: #fba100; 
}

.content-box button {
    text-align: center;
    background-color: #fba100;
    border: none; 
    border-radius: 5px;
    color: white;
    padding: 5px 25px;
    margin-top: 15px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.content-box button:hover, .button-container button:hover {
    background-color: #ffcc00; 
}

/* Tablet View */
@media screen and (max-width: 992px) {
    .content-container-bookings {
        flex-direction: column; /* Display items in a column */
        align-items: center; /* Center items horizontally */
    }

    .content-box {
        width: 60%; /* Adjust width relative to the parent container */
    }

    .content-box {
        max-width: none; /* Remove the maximum width */
        height: auto; /* Auto adjust height */
        margin: 2% auto; /* Center boxes horizontally and create space between them */
    }

    .content-box img {
        width: 150px; /* Set the desired width */
        height: auto; /* Maintain aspect ratio */
        margin: 10px;
    }
}

/* Phone View */
@media screen and (max-width: 480px) {
    
    .content-box {
        width: 50%; /* Adjust width to fill the container */
        margin: 2% auto; /* Center boxes horizontally and create space between them */
    }

}




.content-container-status {
    position: relative;
    margin:0 auto;
    display: flex; /* Use flexbox */
    flex-direction: column;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
    align-items: center;
    width:100%;
}

.button-container button{
    width:100%;
    text-align: center;
    background-color: #fba100;
    border: none; 
    border-radius: 5px;
    color:white;
    padding:10px 25px;
    margin:15px;
    font-size:20px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

/* Apply flex-direction: column to the status container */
.status, .history{
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 100%;
    font-size:20px;
}

.title{
    font-size:30px;
    margin-top:10px;
    text-align: center;
}

/* Apply flex-direction: row to reservation items */
.reservation-item {
    display: flex;
    align-items: center; /* Align items vertically */
    margin: 30px;
    padding: 10px 0;
}

/* Style reservation item details */
.reservation-item-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

/* Style reservation item actions */
.reservation-actions {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

/* Style reservation item details */
.reservation-item-details strong {
    margin-left: 20px;
}

.reservation-actions button {
    margin-left: 20px;
}

.active-text{
    margin-left: 25px;
    color: rgb(0, 209, 0);
    font-weight: bold;
}

.name-type, .dates, .other-details {
    flex: 1;
}


.cart-container {
    text-align: center; /* Center the cart container */
    margin: 0 auto; /* Center horizontally */
}

.message {
    border: 5px solid  #6BBAA7; /* Add border around the message */
    background-color:#d9d9d9 ;
    border-radius: 5px;;
    padding: 50px 80px; /* Add padding for better readability */
    margin: 70px auto; /* Center the message horizontally */
    width: fit-content; /* Make the width fit the content */
}


.cart-title {
    margin-top: 40px; 
    font-size:30px;
}

.cart-items {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    margin: 20px;
    font-size: 20px;
}

.cart-details {
    display: flex;
    align-items: center; /* Align items to the start of each column */
    padding: 10px; /* Add padding to each item */
    width: 120%;
}

.item-detail {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start; 
    width: 100%; /* Ensure each item takes up the full width */
    padding: 0 20px; /* Add padding to both sides */
}


.select {
    padding: 5px 10px; /* Add padding to the select element */
    border-radius: 5px; /* Add border-radius for rounded corners */
    border: 1px solid #ccc; /* Add border */
    background-color: #fff; /* Set background color */
    font-size: 16px; /* Set font size */
    margin: 5px; /* Add some space to the right of the select element */
}

.update-button,
.cancel-button,
.checkout-button,
.rebook-button,
.info-button {
    cursor: pointer;
    text-align: center;
    background-color: #fba100;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.update-button:hover,
.cancel-button:hover,
.checkout-button:hover,
.rebook-button:hover,
.info-button:hover {
    background-color: #c6820e; /* Darker shade on hover */
}



.checkout-button {
    cursor: pointer;
    width:15%;
    text-align: center;
    background-color: #fba100;
    border: none; 
    border-radius: 5px;
    color:white;
    padding:10px 20px;
    margin:30px;
    font-size:22px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    /* Position the button at the bottom */
    position: absolute;
    bottom: 60px; /* Adjust this value as needed */
    left: 48%; /* Center the button horizontally */
    transform: translateX(-50%); /* Center the button horizontally */
}

.checkout-button button:hover {
    background-color: #ffcc00; 
}

.remove-button{
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    background-color:transparent;
    border: none; 
    border-radius: 5px;
    color:white;
    padding:10px 10px;
    margin:10px;
    font-size:20px;
    font-weight: bold;
}


/*pagination styles */
.pagination {
    /* Position the paginator at the bottom */
    position: absolute;
    bottom: 40px; /* Adjust this value as needed */
    left: 50%; /* Center the paginator horizontally */
    transform: translateX(-50%); /* Center the paginator horizontally */
}

.pagination a {
    text-decoration: none; 
    font-size: 36px;
    color: #6BBAA7;
}


/*prompt styles */
.custom-prompt {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 9999; /* Ensure prompt appears above other content */
}

.prompt-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #d9d9d9; /* White background */
    border: 5px solid  #6BBAA7;
    border-radius: 5px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Drop shadow */
    text-align: center;
    font-size:20px;
}

.prompt-title {
    margin: 10px;
    font-size:20px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size:26px;
}

.confirm-button {
    text-align: center;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    text-align:center;
    background-color: #54a08e; /* Green */
    color: white;
    margin-right: 10px;
}

.confirm-button:hover {
    background-color: #6BBAA7; /* Green */
}

.alert-button {
    background-color: red;
    padding: 10px 5px;
    color: white;
    border: none;
    border-radius: 10px;
}

.alert-button:hover {
    cursor: pointer;
    background-color: rgb(200, 8, 8);
}