{% load static %}


<head>
    <title>{% block title %} SIGN UP {% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">
</head>

<body> 
    <div class="container">
        <h1>Create an Account</h1> 

        <div class="content-container">
            {% block content %}
                <form method="POST" class="form-group">
                    <center>
                        {% csrf_token %}
                        <h2>Username:</h2>
                        {{ form.username }}
                        <br/><br/>
                        <h2>First name:</h2>
                        {{form.first_name}}
                        <br/><br/>
                        <h2>Last name:</h2>
                        {{form.last_name}}
                        <br/><br/>
                        <h2>Email address:</h2>
                        {{ form.email }}
                        <br/><br/>
                        <h2>Password:</h2>
                        {{ form.password1 }}
                        <br/><br/>
                        <h2>Confirm Password:</h2>
                        {{ form.password2 }}
                        <br/>
                        <button type="submit" class="btn-btn-success">SIGN UP</button>
                    </center>
                </form>
                <br/>
                <p>Already have an account? Login <a href="/login">here</a></p>
            {% endblock %}
        </div>
    </div>
</body>
