/*
    WORKED ON FILE:
        - NOEL VARGA (w1932378)
*/

.edit-container > h2{
    text-align: center;
    margin-top: 2rem;
    color: var(--grey);
}

.edit-table {
    margin: auto;
    margin-top: 1rem;
    padding: 1rem;
    width: 90%;
    background-color: var(--grey);
    opacity: 100%;
    border: 2px solid var(--blue);
    border-radius: 10px;
}

.edit-table  p{
    margin-bottom: 2rem;
}

.edit-table .new {
    color: var(--orange);
}

.edit-table input {
    width: 40%;
    border: none;
    border-radius: 10px;
    padding: 5px;
}

.edit-table select {
    border: none;
    border-radius: 10px;
    padding: 5px;
}

.edit-table button {
    background-color: var(--orange);
    border: none;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
}

.edit-table button:hover {
    background-color: rgb(219, 144, 3);
    cursor: pointer;
}

/*
    TABLET/MOBILE VIEW
*/
@media only screen and (max-width: 980px) {
    .edit-table {
        margin: 0;
        padding: 0;
        margin: auto;
    }
}

/*
    END OF DOCUMENT
*/