<!--
(base.html - THIS IS THE BASE TEMPLATE FOR THE WEB PAGES)
-->
<!--USING "load static" TAG TO REFERENCE THE STATIC FILES-->
{% load static %}

<html>
    <head>
        <!--THE TITLE CHANGES DEPENDING ON THE PAGE (DUE TO BLOCK "title")-->
        <title>{% block title %} Westminster Inventory Application {% endblock %}</title>
        <meta charset = "UTF-8">
        <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
        <!--USING "static ..." TAG TO REFERENCE THE STATIC FILES-->
        <link rel = "stylesheet" type = "text/css" href = "{% static 'css/style.css' %}">
        <link rel = "icon" href = "../static/css/logo.jpg">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class = "most-outer-container">
            <nav class = "nav-bar">
                <!--THIS DIV TAG CONTAINS THE NAVIGARION BAR E.G.: HOME PAGE, BOOKING PAGE, ETC...-->
                {% if user.is_authenticated %}
                <ul>    
                    <li>
                        <a href = "/">Home</a>
                    </li>
                    <li>
                        <a href = "/inventory">Inventory</a>
                    </li>
                    <li>
                        <a href = "/reservations">Booking</a>
                    </li>
                    <li>
                        <a href = "/about">About us</a>
                    </li>
                    <li>
                        <a href = "/contactus">Contact us</a>
                    </li>
                    <li>
                        <a href = "/user_auth/logout">Logout</a>
                        <p>
                            ©Vault•E 2024
                        </p> 
                    </li>                                                                       
                </ul>
                {% else %}
                <ul>    
                    <li>
                        <a href = "/">Home</a>
                    </li>
                    <li>
                        <a href = "/about">About us</a>
                    </li>
                    <li>
                        <a href = "/contactus">Contact us</a>
                    </li>
                    <li>
                        <a href = "/login">Login</a>
                        <p>
                            ©Vault•E 2024
                        </p> 
                    </li>                                                    
                </ul>
                {% endif %}
            </nav>
            <div class = "header-container">
                <img src="{% static 'css/logo.jpg' %}" alt="Logo" class="logo">
                <h1>VAULT•E</h1> 

                <div class="header-links">
                {% if user.is_authenticated %}
                <a href = "/about"><span>&#x2753;</span>Help</a>
                    <!--ONLY DISPLAYS IF THE USER IS AN ADMIN-->
                    {% if user.is_superuser %}
                        <a href = "/profile_mgmt/statusUpdate"><span>&#128193;</span>Accounts</a>
                    {% endif %}
                    <a href="/profile_mgmt/update_user"><span>&#x1F464;</span>Profile</a>
                {% else %}
                <a href = "/about"><span>&#x2753;</span>Help</a>
                <a href = "/login"><span>&#x1F464;</span>Profile</a>
                {% endif %}
                </div>
                 <!-- Menu icon to toggle nav-bar visibility -->
                <div class="menu-icon" onclick="toggleNav()">
                    &#9776;
                </div>
            </div>
            <div class = "content-container">
                <!--THIS DIV CONTAINS THE CONTENT OF THE SITE-->
                <!--THIS PART ALWAYS CHANGES THROUGHOUT THE VARIOUS PAGES (DUE TO BLOCK "content")-->
                    {% block content %}

                    {% endblock %}
            </div>
        </div>
    </body>
    <script>
        function toggleNav() {
            var navBar = document.querySelector('.nav-bar');
            var headerLinks = document.querySelector('.header-links')
            navBar.classList.toggle('open');
            headerLinks.classList.toggle('open');

        }
    </script>
</html>

<!--
(END OF DOCUMENT)
-->

